<!-- <article> -->
  <h2><%= @article.title %></h2>
  <p><%= @article.content %></p>
<!-- </article> -->
  <footer><%= link_to "Update article", edit_article_path(@article) %></footer>
  <footer><%= link_to "Delete article", article_path(@article), method: :delete, data: { confirm: 'Are you sure?'} %></footer>
  <footer><%= link_to "Back to all articles", articles_path %></footer>


